In [0]:
import requests, json, time, urllib3, io
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [0]:
def load(url, printout=False, remove_bottom_rows=0, remove_columns =[]):
  headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
  response = requests.get(url, headers = headers)
  df = pd.read_json(response.text)
  
  if remove_bottom_rows > 0:
    df.drop(df.tail(remove_bottom_rows).index, inplace=True)
    
  df.drop(columns=remove_columns, axis=1, inplace=True)
  
  df = df.dropna(axis=1)
  
  if printout:
    print(df.head())
    print(df.shape)
    
  return df

In [0]:
def get_trades_for_product(product_id):
  type = '/trades'
  url = "https://api.gdax.com/products/" + product_id + type
  return load(url)

In [0]:
def initialize_blotter():
  col_names = ['Timestamp', 'Pair', 'Quantitiy', 'Executed Price']
  df = pd.DataFrame(columns = col_names)
  return df, col_names

In [0]:
def get_price(pair):
  type = '/book'
  url = "https://api.gdax.com/products/" + pair + type
  df = load(url)
  ask = df.iloc[0]['asks'][0]
  bid = df.iloc[0]['bids'][0]
  return bid, ask

In [12]:
bid, ask = get_price('eth-usd')
print(bid, ask)

565 565.01

In [13]:
blotter, col_names = initialize_blotter()
data1 = pd.DataFrame([[dt.datetime.now(), 'ETH', 1.223, 542.31413]], columns = col_names)
data2 = pd.DataFrame([[dt.datetime.now(), 'ETH', 1.263, 545.31413]], columns = col_names)
data3 = pd.DataFrame([[dt.datetime.now(), 'ETH', 1.2323, 531.31413]], columns = col_names)
data4 = pd.DataFrame([[dt.datetime.now(), 'ETH', 1.235, 545.31413]], columns = col_names)
data5 = pd.DataFrame([[dt.datetime.now(), 'ETH', 1.233, 549.31413]], columns = col_names)
data6 = pd.DataFrame([[dt.datetime.now(), 'ETH', 1.25, 540.31413]], columns = col_names)
blotter = blotter.append(data1, ignore_index = True)
blotter = blotter.append(data2, ignore_index = True)
blotter = blotter.append(data3, ignore_index = True)
blotter = blotter.append(data4, ignore_index = True)
blotter = blotter.append(data5, ignore_index = True)
blotter = blotter.append(data6, ignore_index = True)
print(blotter)

                   Timestamp Pair  Quantitiy  Executed Price
0 2018-05-29 19:26:00.755983  ETH     1.2230       542.31413
1 2018-05-29 19:26:00.757143  ETH     1.2630       545.31413
2 2018-05-29 19:26:00.758078  ETH     1.2323       531.31413
3 2018-05-29 19:26:00.758926  ETH     1.2350       545.31413
4 2018-05-29 19:26:00.759767  ETH     1.2330       549.31413
5 2018-05-29 19:26:00.760804  ETH     1.2500       540.31413